<phpunit bootstrap="vendor/autoload.php"
    backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false">
    <testsuites>
        <testsuite name="BetterSerializer">
            <directory phpVersion="7.2.0" phpVersionOperator=">=">tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>performance</group>
        </exclude>
    </groups>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" />
        <log type="coverage-clover" target="./log/clover.xml"/>
    </logging>
</phpunit>
